@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="sec_flag" class="sec_flag" sec="3"></div>
<div class="plain_text_section mt_2em mb_2em flex">
    <h1>ABOUT HYAENIDAE SYSTEM</h1>
    <h3>About.</h3>
    The Hyaenidae Platform is an open-source platform for developers and researchers to download or have online access
    to datasets and models in simple steps.<br> This platform is constructed by Lupnis, and the system is still under
    development.
    <h3>Contact.</h3>
    E-Mail1: <a href="mailto:Lupnis@outlook.com">Lupnis@outlook.com</a>
    <br> E-Mail2: <a href="mailto:lupnisj@gmail.com">lupnisj@gmail.com</a>
    <br> Author's QQ:
    <a class="copy_paste_section" href="">2016626277</a>
</div>