@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="sec_flag" class="sec_flag" sec="2"></div>
<div class="plain_text_section mt_2em mb_2em flex">
    <h1>DOCUMENTS PAGE</h1>
    <p>Since the system is still under construction and the rich text support has not been developed, we provide a link
        that will redirect you to the download page and get a copy of tutorial to use this platform. </p>
    <a class="btn btn_fill" style="padding:1em" href="/Archive/Details?did=1">GO TO DOWNLOADS</a>
</div>