@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="sec_flag" class="sec_flag" sec="4"></div>
<input type="button" href="" class="btn btn_nofill history_back_btn" value="- BACK -">
<div class="plain_text_section mt_2em mb_2em">
    <h1>@@namelist[@@did]</h1>
    <h4>DATE: @@pubdate | AUTHOR: @@pubauthor | STATISTICS: UNAVAILABLE</h4>
</div>
<div class="plain_text_section mt_2em mb_2em">
    <h2>Desc.</h2>
    @@Ddescription
</div>
<div class="plain_text_section mt_2em mb_2em">
    <h2>Tags.</h2>
    @@DTags
</div>
<div class="plain_text_section mt_2em mb_2em">
    <h2>Inst.</h2>
    <p>@@DInst</p>
    <p>Download to your local devices:</p>

</div>
<div class="plain_text_section mt_2em mb_2em">
    <h2>Refs.</h2>
    @@Dref
</div>
<div class="plain_text_section mt_2em mb_2em">
    <h2>More.</h2>
    @@DMore
</div>