@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="sec_flag" class="sec_flag" sec="4"></div>

<div class="plain_text_section mt_2em mb_2em flex">
    <h1>ARCHIVE COLLECTIONS</h1>
</div>
<div class="dk_section_container grid ch_shgrid">
    <input type="text" class="text_box_l" maxlength="100" placeholder="model name or dataset name...">
    <input type="button" class="btn btn_fill" value="SEARCH">
</div>
<div class="dk_section_container mt_2em flex fixed_size_5em overflow_hidden">
    <a class="nav_dir_link collapse_filter" shown_text="COLLAPSE FILTER" collapsed_text="SHOW FILTER">SHOW FILTER</a>
    <ul class="category_list">
        <li class="flex list_li">
            FILTER A
            <ul class="flex">
                <li>
                    <label>
                        <input type="checkbox" class="list_checkbox">
                        <span>cateA</span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" class="list_checkbox">
                        <span>cateB</span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" class="list_checkbox">
                        <span>cateC</span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" class="list_checkbox">
                        <span>cateD</span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" class="list_checkbox">
                        <span>cateE</span>
                    </label>
                </li>
            </ul>
        </li>
        <li class="flex list_li">
            FILTER B
            <ul class="flex">
                <li>
                    <label>
                        <input type="checkbox" class="list_checkbox">
                        <span>cateA</span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" class="list_checkbox">
                        <span>cateB</span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" class="list_checkbox">
                        <span>cateC</span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" class="list_checkbox">
                        <span>cateD</span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" class="list_checkbox">
                        <span>cateE</span>
                    </label>
                </li>
            </ul>
        </li>
    </ul>
</div>