@{
    ViewData["Title"] = "Home";
}
<div id="sec_flag" class="sec_flag" sec="0"></div>
<div class="quotes">
    <p class="quotes_content">No quote(s) in database.</p>
    <p class="quote_author"></p>
</div>
<div class="flex flex_col">
    <div class="content_box content_box_header content_box_primary" value="Notifications">
        Empty
        <!-- Here contains notifications broadcast to the whole website.
        This box will change its color based on the level.-->
    </div>
    <div class="content_box content_box_header content_box_success" value="Updates">
        No updates.
        <!--Here contains notifications related to dataset updates.
        <br> This box will change its color based on the level.-->
    </div>
</div>

<div class="list_container mt_2em">
    <p class="list_header">Datasets ranking</p>
    <div class="table_head">
        <p>Rank</p>
        <p>Dataset Name</p>
        <p>Downloads/Total</p>
    </div>
    <div>
        <!--
             <div class="list_single_item">
                 <p>@@rank</p>
                 <a class="list_link" href="">@@modelname</a>
                 <p>@@percent</p>
             </div>
         -->

    </div>
</div>
<div class="plain_text_section mt_2em mb_2em flex">
    <h1>GET STARTED WITH HYAENIDAE</h1>
    <p>The hyaenidae platform is an open-source platform for users to download datasets.</p>
    <p>
        For more information, see the document by clicking the following link:
        <input type="button" class="btn btn_fill menu_btn fit_content" value="GET STARTED &raquo;">
    </p>
</div>
