body {
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    font-size: 14px;
}

.ch_header {
    background-color: rgb(244, 206, 69);
}

.user {
    max-width: 8em;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}
